* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* common */ 

:root {
  --bg-dark-purple: hsla(260, 62%, 11%, 1);
  --bg-russian-violet: hsla(259, 61%, 14%, 1);
  --bg-vivid-violet: hsla(273, 100%, 55%, 1);
  --bg-sunglow: hsla(43, 100%, 61%, 1);
  --bg-blue-jeans: hsla(202, 100%, 50%, 1);
  --bg-white-alpha-10: hsla(0, 0%, 100%, 0.1);

  --border-blue-jeans: hsla(202, 100%, 50%, 1);
  --border-white-alpha-10: hsla(0, 0%, 100%, 0.1);
}

body{
  background-color: rgb(32, 32, 51);
}
.main-section {
  background-image: url("images/hero-bg.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 670px;
}
.second-section , .third-section ,.about-section{
  padding: 30px 10px;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 24px;
}
.logo-img {
  height: 100%;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
li {
  list-style: none;
  font-weight: 500;
}
li a {
  color: white;
  text-decoration: none;
}
.btn {
  background: transparent;
  border: 2px solid var(--border-blue-jeans);
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  white-space: nowrap;
}

.humburger-container{
  display: none;
}

.humburger{
  display: flex;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
}
/* .humburger,.bar:nth-child(1):hover{
  transform: rotate(45deg);
}

.humburger,.bar:nth-child(2):hover{
  transform: rotate(-45deg);
} */
.bar{
  height: 4px;
  width: 24px;
  border-radius: 20px;
  background-color:white;
}

/* main section */

.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.left-side,.right-side{
    width: 500px;
}
.left-side{
    gap: 20px;
    /* padding-bottom: 20px; */
}
.left-side h1{
    font-size: 45px;
    color: white;
    line-height: 1.3em;

}
.left-side p{
    font-size: 15px;
    line-height: 2em;
    color: rgb(214, 202, 202);
}

.input-box{
    padding-top: 30px;
}
.input-box {
    margin-top: 5px;
    gap: 20px;
    white-space: nowrap;
}
.email-input{
    padding: 18px;
    height: 29px;
    margin-top: 5px;
    border-radius: 50px;
    border:none;
}
.button{
    padding: 10px 20px;
    background-color:var(--bg-sunglow) ;
    color:black;
    border: none;
    border-radius: 50px;
    margin-left: 15px;

}

.right-side-image{
  /* height: 600px; */
}
.side-image{
  /* max-height: 600px; */
  height: 100%;
  width: 100%;
}
.right-icon{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -200px;
}
.right-icon-img:nth-child(1){
margin-left: 70px;
}
.right-icon-img:nth-child(3){
margin-left: 50px;
}



/* second section  */

.sub-content{
  text-align: center;
  padding: 10px;
}
.sub-text{
  font-size: 28px;
  font-weight: 600;
}
.paragraph{
  margin-top: 2%;
  line-height: 1.7rem;
  font-size: 15px;
  color:rgb(202, 195, 195);
}
.sub-info-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  gap: 80px;
  padding: 20px 80px;
}

.image-container{
  height: 400px;
}

.imagee{
  width: 100%;
  height:100% ;
}
.work-info-container{
  width: 10px;
}
.work-info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
  width: 100%;
}
.box{
  /* background-color: aquamarine; */
  width: 100%;
  align-items:flex-start;
  line-height: 2em;
}
.box h5{
  font-size: 16px;
  color: aliceblue;
}
.box p{
  font-size: 14px;
  line-height: 1.6em;
  color: rgb(231, 216, 216);
}



/* third section */

.our-work-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding: 20px 30px;
}
.our-work-container{
  text-align: center;
  line-height: 2.1em;
}
.our-work-container p{
  color: rgb(173, 165, 165);
}
.our-work-container h4{
  font-size: 16px;
  font-weight: 500;
}
.work-img{
  height: 280px;
  width: 250px;
}
.work-img img{
  height: 100%;
  width: 100%;
  border-radius:20px;

}

.see-more{
  background-color: rgb(253, 165, 0);
  border: none;
  padding: 15px 25px;
  text-align: center;
  border-radius: 50px;
  color: black;
  font-weight:600;
  cursor: pointer;
}
